<div id="form-results">
	
	<br/>

	<h1 align="center"> Bet on {{ prediction.upper() }}!</h1>

	<br/>
	<br/>
	<h3> Some Analytics for the {{ league }} Random Forest </h3>
	<ul> 
		<li> <h5> Performance Metrics </h5>
		<p>Using accuracy and weighted F1 scores, here's how our model compares choosing the betting option with the lowest closing: <p/>

		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Model</th>
		      <th scope="col">Accuracy</th>
		      <th scope="col">Weighted F1 Score</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">Random Forest Model</th>
		      <td>{{ acc_rf }}</td>
		      <td>{{ f1_rf }}</td>
		    </tr>
		    <tr>
		      <th scope="row">Betting on Lowest Odds</th>
		      <td>{{ acc_low_odds }}</td>
		      <td>{{ f1_low_odds }}</td>
		    </tr>
		  </tbody>
		</table>
	</li>

<!-- 	<li> 
		<h5> Expected Return </h5>
		<p> Your expected return is: ______ </p>
	</li> -->

	<li>
		<h5> Confusion Matrix </h5>
		<p> The random forest model for {{ league }} has the following confusion matrix: </p>

		<img src="/conf_mat.txt/{{ league }}">
	</li>
	<!-- {% for value in values %}
		<div>{{ value }}</div>
    {% endfor %}

    {% for key in keys %}
    	<div>{{ key }}</div>
    {% endfor %} -->
    </ul>
</div>
