Click==7.0
cycler==0.10.0
Flask==1.0.2
flask-mysql==1.4.0
flask_wtf==0.14
wtforms==2.2.1
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
pkg-resources==0.0.0
PyMySQL==0.7.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
Werkzeug==0.15.1
scikit-learn==0.20.2